@charset "UTF-8";

*{
    margin:0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, #9000F0, #000000);
    height: 100%;
}

main{
    width: 900px;
    height: 3810px;                   
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: rgb(237, 253, 253);
    padding: 15px;
    border-radius: 10px;
    box-shadow: #B04AF0 5px 5px 10px;
    border: 1px solid rgb(0, 102, 255);
}

h1{
    font-size: 5em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #9010a1;
    box-shadow: #622cdf7e 1px 1px 10px;
    text-shadow: #cf27e6 2px 2px 5px;
}

p{
    font-size: 1.8em;
    color: rgb(45, 45, 48);
    padding: 2px;
}

.image{
    margin-top: 60px;
    margin-bottom: 60px;
}

#primeira{
    margin-top: 60px;
    margin-bottom: 60px;
}

#terceira{
    margin-top: 60px;
    margin-bottom: 60px;
}

#foto-01{
    height: 600px;
}

#foto-02{
    height: 600px;
}

#foto-03{
    width: 850px;
}

footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7em;
    margin-top: 420px;
    text-align: center;
    background-color: rgb(17, 31, 44);
    padding: 2px;
}

footer>p{
    color: #fa74ff;
    font-size: 1.4em;
}

img{
    border-radius: 5px;
    border: 1px solid rgb(37, 37, 37);
    box-shadow: #00000098 3px 3px 10px;
}

a{
    font-family: 'Times New Roman', Times, serif;
    color: #fa74ff;
    font-weight: normal;
}

a:hover{
    color: rgb(147, 253, 239);
}

img:hover{
    transition: 0ms;
    border-radius: 5px;
    border: 2px solid rgb(194, 26, 236);
    box-shadow: #c123ff98 3px 3px 10px;
}

h1:hover{
    font-size: 5em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #ca15e2;
    box-shadow: #622cdf 1px 1px 10px;
    text-shadow: #cd03e7 2px 2px 5px;
}

section>p:hover{
    box-shadow: #cc03e765 2px 2px 30px;
}